.payment {
  display: flex;
  position: fixed;
  background-color: red;
  width: 50%;
  height: 750px;
  color: aliceblue;
}

.payment__head {
  left: 45%;
  top: 17%;
  position: absolute;
}
.payment > h5 {
  font-size: 1.25rem;
  left: 47%;
  top: 12%;
  position: absolute;
  opacity: 0.8;
}
.plansoffer {
  left: 45%;
  top: 25%;
  position: absolute;
  color: wheat;
}
.permonth {
  left: 52%;
  top: 20%;
  position: absolute;
  letter-spacing: 3px;
}
.terms {
  left: 47%;
  top: 73%;
  position: absolute;
  color: whitesmoke;
  opacity: 0.7;
  display: flex;
  font-size: 1ch;
}
.terms > p {
  padding: 5px;
}
.google {
  display: flex;
  position: fixed;
  background-color: white;
  height: 750px;
  width: 50%;
  left: 50%;
}

.goole__logo {
  padding: 15px;
  padding-left: 116px;
  height: 36px;
  width: 261px;
  font-size: 29px;
  background: black;
  color: wheat;
  border-radius: 6px;
  margin-top: 80px;
  padding-top: 9px;
}
.border {
  border: 2px solid gray;
  position: absolute;
}

.payment__form {
  position: absolute;
  margin-top: 159px;
  display: flex;
  flex-direction: column;
  margin-left: 37px;
}
.payment__form > form > h1 {
  font-size: 1.6ch;
  margin-left: 63px;
  margin-top: -16px;
  opacity: 0.6;
}

.payment__name {
  width: 250px;
  margin-left: 6px;
  background: none;
  margin-top: 15px;
  padding-left: 9px;
  border: 1px solid;
  border-radius: 3px;
}
.payment__email {
  width: 250px;
  margin-left: 6px;
  background: none;
  margin-top: 26px;
  padding-left: 9px;
  border: 1px solid;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
}
.payment__card {
  width: 250px;
  margin-left: 6px;
  background: none;
  margin-top: 26px;
  padding-left: 9px;
  border: 1px solid;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
}

.fa-cc-visa {
  position: absolute;
  top: 71.2%;
  right: 19%;
  color: blue;
}
.fa-cc-mastercard {
  position: absolute;
  top: 71.2%;
  right: 10%;
  color: orange;
}
.fa-credit-card {
  position: absolute;
  top: 71.2%;
  right: 1%;
  color: rgb(82, 79, 75);
}

.mm {
  width: 45px;
  margin-left: 6px;
}
.yy {
  width: 64px;
}
.cvc {
  width: 141px;
  margin-top: 3px;
}
.cvv {
  position: absolute;
  top: 88%;
  right: 3%;
  color: rgb(78, 195, 216);
}
.button {
  position: absolute;
  top: 175%;
  height: 36px;
  width: 261px;
  background: black;
  color: wheat;
  border-radius: 6px;
  font-weight: 600;
  font-size: 1.8ch;
}
.button:hover {
  color: red;
}

.paragraphplan {
  position: absolute;
  top: 200%;
  text-align: center;
  opacity: 0.8;
  color: gray;
  font-size: 1.2ch;
  padding-top: 10px;
}

@media all and (max-width: 750px) {
  .payment {
    background-color: teal;
  }
  .payment > h5 {
    margin-left: -82px;
  }
  .permonth {
    margin-left: -64px;
    margin-top: -14px;
  }
  .plansoffer {
    margin-left: -72px;
    font-size: 11px;
    font-weight: 600;
  }
  .terms {
    margin-left: -64px;
  }
  .google {
    background-color: thistle;
  }
  .goole__logo {
    margin-left: 8px;
    padding: 5px 69px;
    width: 179px;
    margin-top: 86px;
  }
  .payment__form > form > h1 {
    margin-left: 1px;
  }

  .payment__name {
    margin-left: -12px;
    width: 152px;
  }

  .payment__email {
    margin-left: -12px;
    width: 152px;
  }
  .payment__card {
    margin-left: -12px;
    width: 152px;
  }
  .fa-cc-visa {
    font-size: 17px;
    margin-top: 51px;
    margin-right: 93px;
  }
  .fa-cc-mastercard {
    font-size: 17px;
    margin-top: 51px;
    margin-right: 59px;
  }
  .fa-credit-card {
    font-size: 17px;
    margin-top: 51px;
    margin-right: 18px;
  }
  .mm {
    width: 45px;
    margin-left: -2px;
    position: absolute;
    top: 187px;
    background: transparent;
    height: 24px;
    text-align: center;
  }
  .yy {
    width: 45px;
    position: absolute;
    top: 187px;
    background: transparent;
    left: 70px;
    height: 24px;
    text-align: center;
  }
  .cvc {
    width: 124px;
    margin-top: 3px;
    position: absolute;
    background: transparent;
    top: 231px;
  }
  .cvv {
    position: absolute;
    top: 88%;
    right: 3%;
    color: rgb(78, 195, 216);
    position: absolute;
    top: 188px;
    background: transparent;
  }
  .button {
    height: 36px;
    width: 192px;
    font-size: 20px;
    margin-left: -34px;
    margin-top: 17px;
  }
  .paragraphplan {
    padding-top: 46px;
    letter-spacing: 1px;
    font-size: 8px;
    margin: -5px;
  }
}
