.ProfileScreen {
  height: 100vh;
  color: white;
}

.profileScreen__body {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 8%;
  max-width: 800px;
}
.profileScreen__info {
  display: flex;
}
.profileScreen__details {
  color: white;
  margin-left: 25px;
  flex: 1;
}
.profileScreen__details > h2 {
  background-color: gray;
  padding: 15px;
  font-size: 15px;
  padding-left: 20px;
}
.profileScreen__body > h3 {
  font-size: 40px;
  font-weight: 400;
  border-bottom: 1px solid #28222d;
  margin-bottom: 20px;
}
.profileScreen__SignOut {
  padding: 10px 20px;
  font-size: 1rem;
  margin-top: 5%;
  width: 100%;
  color: #fff;
  background-color: #e50914;
  font-weight: 600;
  border: none;
  cursor: pointer;
  position: relative;
  bottom: 174px;
}
.profileScreen__plans {
  margin-top: 20px;
}
.profileScreen__plans > h3 {
  border-bottom: 1px solid #28222d;
  padding-bottom: 10px;
}
.profileScreen__info > img {
  height: 100px;
}

@media all and (max-width: 700px) {
  .profileScreen__body > h3 {
    font-size: 23px;
    margin-top: 55px;
    margin-left: -87px;
  }
  .profileScreen__info > img {
    height: 48px;
    margin-left: -78px;
  }
}
