.trailerSix {
  opacity: 0.8;
}
.trialer__image7 {
  margin-left: 140px;
  width: 80%;
}
.trialerSix__title {
  display: flex;
}
.trialerSix__des {
  font-family: cursive;
  font-weight: 300;
  margin-bottom: 4px;
}

.trialerSix__title > p {
  margin-bottom: 41px;
  margin-left: 15px;
}
.trialerSix__title > button {
  width: 48px;
  height: 23px;
  background: transparent;
  color: white;
  border: 1px solid rgb(230, 222, 222);
  margin-left: 19px;
}
.trailerSix__trailer {
  margin-top: 310px;
  margin-left: 143px;
  width: 80%;
}

@media all and (max-width: 800px) {
  .trialer__image7 {
    margin-left: 50px;
    width: 80%;
    margin-top: 100px;
    height: 100%;
  }
  .trailerSix__trailer {
    width: 80%;
    height: 100%;
    margin-left: 50px;
    height: 100%;
    margin-top: 40px;
  }
}
