.trailerFour {
  opacity: 0.8;
}
.trialer__image5 {
  margin-left: 140px;
  width: 80%;
}
.trialerFour__title {
  display: flex;
}
.trialerFour__des {
  font-family: cursive;
  font-weight: 300;
  margin-bottom: 4px;
}

.trialerFour__title > p {
  margin-bottom: 41px;
  margin-left: 15px;
  opacity: 0.5;
}
.trialerFour__title > button {
  width: 48px;
  height: 23px;
  background: transparent;
  color: white;
  border: 1px solid rgb(230, 222, 222);
  margin-left: 1px;
  opacity: 0.6;
  padding: 0px 9px 24px 10px;
}
.trailerFour__trailer {
  margin-top: 310px;
  margin-left: 143px;
  width: 80%;
}

@media all and (max-width: 800px) {
  .trialer__image5 {
    margin-left: 50px;
    width: 80%;
    margin-top: 100px;
    height: 100%;
  }
  .trailerFour__trailer {
    width: 80%;
    height: 100%;
    margin-left: 50px;
    height: 100%;
    margin-top: 40px;
  }
}
