.trailer33 {
  opacity: 0.8;
}
.trialer__image34 {
  margin-left: 140px;
  width: 80%;
}
.trialer33__title {
  display: flex;
}
.trialer33__des {
  font-family: cursive;
  font-weight: 300;
  margin-bottom: 4px;
}

.trialer33__title > p {
  margin-bottom: 41px;
  margin-left: 15px;
  opacity: 0.5;
}
.trialer33__title > button {
  width: 48px;
  height: 23px;
  background: transparent;
  color: white;
  border: 1px solid rgb(17, 17, 17);
  margin-left: 19px;
  opacity: 0.5;
}
.trailer33__trailer {
  margin-top: 310px;
  margin-left: 143px;
  width: 80%;
}
@media all and (max-width: 800px) {
  .trialer__image34 {
    margin-left: 50px;
    width: 80%;
    margin-top: 100px;
    height: 100%;
  }
  .trailer33__trailer {
    width: 80%;
    height: 100%;
    margin-left: 50px;
    height: 100%;
  }
}
